extends layout

block content
  div.container.wrapper
    .row
      .col-xs-12
        section.hero
          h1.text-center Neuer Share Button
          p.text-center.lead Das ist dein neuer Share Button
          p.text-center
            a.lead(href="/code.html") Technische Details
          br
          hr
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        section.features
          h3.text-center Features
          br
          br
          .row.feature
            div.col-xs-12.col-md-6
              img.img.img-responsive(src="img/feature.png")      
            .col-xs-12.col-md-6
              h4 Mehr Platz für deine lieblings Themen
              p Der neue Share Button ist klein und lenkt nicht vom Content ab.            
              div.share-button
          .row.feature
            br
            br
            div.col-xs-12.col-md-6
             h4 Kleiner Button, viele Möglichkeiten
             p Der neue Share Button unterstüzt dein favorisiertes Social Network - der Ort an dem du deine Freunde findest           
            .col-xs-12.col-md-6
              img.img.img-responsive(src="img/options.jpg")
          .row.feature
            br
            br
            div.col-xs-12.col-md-6
              img.img(src="img/whatsapp.jpg", width="180px")      
            .col-xs-12.col-md-6
              h4 Schicke deinen Freunden eine Nachricht
              p Wenn du unsere Seite mit deinem iPhone oder iPod besuchst, kannst du deinen Freunden per Whatsapp interessante Sachen direkt mitteilen.
          .row.feature
            br
            br
            div.col-xs-12.col-md-6
             h4 Teile einzelne Themen, anstatt die ganze Seite
             p So kannst du deinen freunden die Inhalte zeigen, die für dich interessant sind           
            .col-xs-12.col-md-6
              br
              p.lead Probiere es aus
              div.share-button-special