meta(name='description', content='Der Neue Share Button')
meta(name='og:image', content='http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/img/6b0cda10b33c3ade95a3252a06bbab5afd009113/feature.png')
meta(name='og:description', content='Der Neue Share Button')
link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", rel="stylesheet" type="text/css")
